

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ededed;
}

.canvaspage {
    text-align: center;
    margin-top: 50px;
    display: none;
    margin-bottom: 20px;
}

#canvas {
    display: inline;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wordpage {
    display: none;
}

.canvaspagebtn {
    display: none;
}

.songpage {
    display: none;
}

.songlist {
    display: block;
    text-align: left;
}

.song-name {
    display: block;
    color: #009bff;
    cursor: pointer;
    z-index: 1000;
}

.song-name:hover{
  color: #2A5DB0;
}

.btn-default {
    background-color: #B388EB;
    color: white;
    margin: 10px;
    padding: 10px 50px;
    transition: all .3s ease;
}

.btn-default:disabled {
    color: #ccc;
}

.btn-default:hover {
    color: black;
    background-color: #fff;
}

.searchbar {
    width: 100%;
    height: 50px;
}

.artist-searchbar-image {
    display: inline-block;
    margin: 10px;
}

.artist-searchbar-name {
    display: inline-block;
}

.loading {
    display: none;
}

.highlight-word {
  background-color: #FFFF00
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

body > div:nth-child(2) > div.searchpage.text-center > span {
    border: 1px solid #B388EB;
    border-radius: 5px;
}







