/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ededed;
}

.holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

#wordcloudPage {
  display: none;
}

#wordcloud {
  display: inline;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#pop-up-info {
  display: none;
  padding: 0;
  border: none;
  background: #fff;
  border-radius: 0;
  white-space: pre-wrap;
}

.highlight {
  background-color: yellow;
}

.ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: .8em;
}

.ui-dialog-buttonpane .ui-dialog-buttonset {
    top: 400px;(this value depends on the page layout)
    left: 10px;
}

.ui-widget-content {
  background: #F9F9F9;
  color: #222222;
  border: 1px solid #545454;
}

.ui-dialog-title{
  padding-right: 340px;
}
.ui-dialog-content {
  background: #F9F9F9;
  color: #222222;
  padding: 10px !important;
}

.ui-dialog {
  position: absolute;
  width: 500px !important;
}

.ui-dialog .ui-dialog-content {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  overflow: auto;
  position: relative;
}

.ui-widget-header {
  background: #545454;
  border: 0;
  color: #fff;
  font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0.1em .5em;
  position: relative;
  font-size: 1em;
}

.ui-widget,
.ui-widget button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.8em;
  background: white;
  margin-top: 10px;
}

#download {
  display: none;
}

#paperList {
  display: none;
}

#progressbar {
  width: 100vw;
  top: -8px;
  position: fixed;
}

/*CSS for drop down menu of suggested searches*/
.dropdown {
  position: relative;
  display: inline-block;
}

.backList {
  display: none;
}

.dropdown-content {
  border-radius: 2px;
  display: none;
  position: absolute;
  margin-top: -4px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-is-active {
  display: block;
}

.search-item {
  margin: 10px 5px;
}

.search-item:hover {
  color: #33C3F0;
  cursor: pointer;
}


/* spinner css */
.sk-cube-grid {
  width: 80px;
  height: 80px;
  margin: 100px auto;
  display: none;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}