/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ededed;
    height: 100%;
}

.container {
  height: 100%;
}

.holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

#wordcloudPage {
  display: none;
}
